@model IEnumerable<Api_Post.Models.Cuenta>

@{
    ViewData["Title"] = "Cuentas";
}

<h1>Cuentas</h1>

<p>
    <a asp-action="Create">Crear nueva cuenta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Biografía</th>
            <th>Género</th>
            <th>Fecha de Creación</th>
            <th>Fecha de Nacimiento</th>
            <th>Privado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biografia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Privado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seguidores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seguidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
